.root {
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vw / 1.71);
    position: relative;
}

.player {
    display: flex;
    top: 4.3vw;
    left: 5vw;
    width: 90vw;
    height: 20vw;
    max-width: 1400px;
    align-self: center;
}

.title {
    margin: 50px 0;
    text-align: center;
}

.selected {
    margin-top: -20px;
    margin-bottom: 20px;
}

.cardBoard {
    width: 100%;
    max-width: 320px;
}
